html {
    scroll-padding-top: 100px;
    scroll-padding-bottom: 100px;
}

#header {
    background-color: #111;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    height: 80px;
    z-index: 1;
}

.middle {
    margin: 3px auto 10px;
    display: block;
    width: 300px;
    top: 0;
    left: 0;
}

table {
    width: 100%;
    top: 180px;
}

th, td {
    border: solid rgb(180, 180, 180);
    width: 50%;
    padding: 4px 40px 3px 10px;
    text-align: left;
}

.main{
    background-color: #111;
    margin-left: 190px; /* Same as the width of the sidenav */
    padding: 0 10px;
  }

.main h1 {
    background-color: #111;
    color: white;
    padding-left: 20px;
}

h2 {
    background-color: #7c7c7c;
    color: white;
    padding: 4px 10px;
}


.sub-title {
    background-color: #111;
    color: rgb(222, 222, 222);
}

.section-title {
    font-size: 25px;
}

.item:hover {
    background-color: dimgray;
    color:white;
}

#sidebar {
    background-color: #111;
    color: white;
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    margin-top: 80px;
    left: 0;
    z-index: 1;
}

ul, li {
    text-indent: -20px;
}

#sidebar a {
    margin-left: 20px;
    padding: 3px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    font-size: 12px;
}

#sidebar a:hover, li:hover {
        background-color: rgb(168, 168, 168);
        color: #000000;

}

#content {
    margin-top: 90px;
    margin-left: 200px;
}

#footer {
    position: fixed;
    margin-left: 50px;
    margin-bottom: 10px;
    left: 0;
    bottom: 0;
    background-color: #111;
    color: whitesmoke;
    z-index: 2;
    font-size: 10px;
    text-align: center;
}