@import url("https://p.typekit.net/p.css?s=1&k=kuo1dub&ht=tk&f=35856.35858.35861.40906&a=15015211&app=typekit&e=css");

@font-face {
font-family:"charcuterie-contrast";
src:url("https://use.typekit.net/af/415154/00000000000000007735c921/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/415154/00000000000000007735c921/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/415154/00000000000000007735c921/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"charcuterie-deco";
src:url("https://use.typekit.net/af/da859a/00000000000000007735a9f1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/da859a/00000000000000007735a9f1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/da859a/00000000000000007735a9f1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"charcuterie-filigree";
src:url("https://use.typekit.net/af/b02cd8/00000000000000007735a9f6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/b02cd8/00000000000000007735a9f6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/b02cd8/00000000000000007735a9f6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"zeitung";
src:url("https://use.typekit.net/af/93699d/00000000000000007735af37/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/93699d/00000000000000007735af37/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/93699d/00000000000000007735af37/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.content {
    max-width: 700px;
    margin: auto;
    background-color: #1EC6D9;
}

header {
    font-family: charcuterie-deco;
    font-style: normal;
    font-weight: 400;
    color: #000;
    text-shadow: -1px 2px #F21616;
    text-align: center;
}

h2 {
    text-align: left;
}

table {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 7px;
}

.colors table {
    border-spacing: 10px;
}

.colors td {
    text-align: center;
    border-radius: 7px;
    padding: 80px 10px;
    width: 5%;
}

#color1 {
    background-color: #1EC6D9;
    color: white;
}

#color1b {
    background-color: #008A99;
    color: #FFF;
}

#color1c {
    background-color: #006874;
    color: #FFF;
}

#color2 {
    background-color: #C0D902;
}

#color3 {
    background-color: #FFEF40;
}

#color3b {
    background-color: #CA9E18;
    color: #FFF;
}

#color3c {
    background-color: #9B7504;
    color: #FFF;
}

#color4 {
    background-color: #F28907;
    color: white;
}

#color5 {
    background-color: #F21616;
    color: white;
}

.button .butt-att {
    text-align: justify;
}

.button table {
    border-spacing: 10px;
}

.button td {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
}

.button #primary {
    cursor: pointer;
    background-color: #FFEF40;
    border: 1px solid #CA9E18;
}

#primary:hover {
    background-color: #CA9E18;
    border: 1px solid #9B7504;
    color: #FFF;
}

#primary:active {
    background-color: #9B7504;
    border: 1px solid #9B7504;
    color: #FFFFFF;
}

.button #secondary {
    cursor: pointer;
    background-color: #1EC6D9;
    border: 1px solid #008A99;
}

#secondary:hover {
    background-color: #008A99;
    border: 1px solid #006874;
    color: #FFF;
}

#secondary:active {
    background-color: #006874;
    border: 1px solid #006874;
    color: #FFF;
}

.fonts table {
    border-spacing: 10px;
}

.fonts td {
    border-radius: 7px;
    box-shadow: 0 0 5px 1px #d8d8d8;
    padding: 15px;
}

.font-th {
    text-align: left;
    text-decoration: underline;
}

#font1 {
    font-family: charcuterie-deco;
}

#font2 {
    font-family: charcuterie-contrast;
}

#font3 {
    font-family: charcuterie-filigree;
}

#font4 {
    font-family: zeitung;
    font-weight: 100;
}