html {
    max-width: 1200px;
    margin: auto;
    background-color: rgb(85, 24, 0);
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

/* Nav Bar */
nav {
    position: sticky;
    top: 0;
    display: flex;
    height: 36px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: #000;
    padding: 5px 18px;
    border-bottom: 1px solid #F4870F;
}

.logo {
    height: 20px;
}

ul, li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
}

.nav-right a {
    text-decoration: none;
    color:#F4870F;
}

.nav-right a:hover {
    color: chocolate;
}

.nav-right a:active {
    color: darkred;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.head-logo-back {
    display: flex;
    background-image: url(./wolfgang-hasselmann-7xEEADgBOeM-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.head-logo {
    height: 75px;
}

header h4 {
    background-color: #000;
    border-top: 1px solid #F4870F;
    color: #ffc588;
    text-align: center;
    width: auto;
    padding: 18px;
    margin: 0;
}

/* Main Area */
main {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #ebd5c3;
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 5px;
}

.featured-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    max-height: 300px;
    width: 300px;
    margin: 10px 20px;
    text-decoration: none;
    overflow: hidden;
}

.featured-left h2 {
    font-family: almaq-rough, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color:#7a2700;
    color: #ff9422;
    padding: 5px 15px;
}

.featured-left a {
    color:#7a3f00    
}

.featured-left a:hover {
    color:#ffecd7    
}

.featured-left a:active {
    color:#ac0000    
}

.featured-right {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border: 5px solid #000000;
    margin: 10px 20px;
}

.more {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
    background-color: #a17e5d;    
}

.more h2 {
    text-align: center;
    background-color: rgb(71, 44, 22);
    color: #F4870F;
    margin-top: 0;
    padding: 10px;
    font-family: almaq-rough, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: auto;
    padding: 10px;
    margin: 10px;
    background-color: #613e21;
    color: #F4870F;
    border: 2px solid #ffbd86;
}

.prodtext {
    width: 100px;
    padding-right: 5px;
}

.prodtext h3{
    margin-top: 0;
    padding-top: 0;
}

.more a{
    color: #ffe1c1;
}

.prodtext a:hover {
    color: #000;
}

.prodtext a:active {
    color: #FFF
}

.products img {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}


footer {
    background-color: #000;
    color: #F4870F;
    padding: 10px 25px;
}

@media screen and (max-width: 480px) {
    body {
        max-width: 480px;
    }
}
